<% include ./partials/header %>

<div class="container">
<h1>Login</h1>
    <form class="form-inline" action="/login" method="POST">
        <div class="form-group">
            <input class="form-control" type="text" plaseholder="username" name="username">
            <input class="form-control" type="password" plaseholder="password" name="password">
            <button type="submit" class="btn btn-success">Login!</button>
        </div>
    </form>
</div>
<% include ./partials/footer %>
